<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>keylogger-data</title>
    <link rel="stylesheet" href="allData.css">
</head>
<body>
    <div class="animated-background"></div>
    <div id="file"></div>
    <div>
        <!-- <button onclick="startRecording()">start recording</button> -->
        <!-- <button onclick="stopRecording()">stop recording</button> -->
        <button onclick="getData()">get data</button>
        <button onclick="window.location.href='exemple.html'">bake to home page</button>
        
        <!-- <button onclick="file()">files</button>
        <button onclick="loadTextFromServer()">Load Text</button> -->
        <div class="background"></div>
        <h1 id="typewriter-text"></h1>

        <script src="allData.js"></script>
    </div>
    
</body>
<!-- <script src="request.js"></script> -->
</html>