<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>keylogger</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="box">שלום</div>
    <div id="shuki">wow!!</div>
    <div>
        <button onclick="startRecording()">start recording</button>
        <button onclick="stopRecording()">stop recording</button>
        <button onclick="getData()">get today's data</button>
        <button onclick="window.location.href='allData.html'">files</button>
        <!-- <button onclick="file()">files</button>
        <button onclick="loadTextFromServer()">Load Text</button> -->
        
    </div>
    <div>
    <p id="boxu"></p>

    </div>
</body>
<script src="request.js"></script>
</html>
