<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embed YouTube Video</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="box"></div>
    <div>
        <p id="boxi"></p>
    </div>
    <div>
        <button onclick="startRecording()">start recording</button>
        <button onclick="stopRecording()">stop recording</button>
        
        <!-- <button onclick="file()">files</button>
        <button onclick="loadTextFromServer()">Load Text</button> -->
        
    </div>
    <div>
    <p id="boxu"></p>

    </div>
</body>
<script src="request.js"></script>
</html>
